<ion-view >
     <ion-nav-title>
        <div class="center_jap">
            <img class="title-image" src="img/JAP-LOGO-22.png" />
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-toggle-jap"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row responsive-sm responsive-md responsive-lg">

            <div class="col center_jap">
                <h1>Contact us</h1>
            </div>
            <div class="col center_jap">
                <p>บริษัท เจแปน ออล พาส จำกัด</p>
                <p>เลขที่ 625  อาคารทัศนียา  ห้องเลขที่ยูนิต ซี  ชั้น 5</p>
                <p>ซอยรามคำแหง 39 ถนนประชาอุทิศ</p>
                <p>แขวงวังทองหลาง เขตวังทองหลาง</p>
                <p>กรุงเทพมหานคร  10310</p>
                <p></p>
                <p>ติดต่อลูกค้าสัมพันธ์</p>
                <p>0-2514-7473</p>
                <p>โทรสาร</p>
                <p>0-2514-7400</p>
            </div>

            <!--</form>-->
        </div>
    </ion-content>
</ion-view>