<ion-view>
     <ion-nav-title>
         <div class="center_jap">
            <img class="title-image" src="img/JAP-LOGO-22.png" />
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-toggle-jap"></button>
    </ion-nav-buttons>
    <ion-content  class="scroll-content ionic-scroll  has-header">
        <div class="list">
            <div class="">
                <ion-slide-box class="slide-jap" auto-play="true" does-continue="true">
                    <ion-slide>
                        <div class = "box box1">
                            <img  src="img/JR Pass.png" />
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class = "box box2">
                            <img src="img/Nankai Railway.png"  />
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class = "box box3">
                            <img src="img/Tokyo Metro Pass.png" />
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class = "box box3">
                            <img src="img/Hokkaido Rail pass.png" />
                        </div>
                    </ion-slide>
                </ion-slide-box>
        </div>
            <div class="item"><h2>Nankai Railway</h2></div>
            <div class=""><img src="img/Nankai Railway.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'1',Name:'Nankai Railway'})"/></div>

            <div class="item"><h2>JR Rail Pass</h2></div>
            <div class=""><img src="img/JR Pass.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'6',Name:'JR Rail Pass'})"/></div>

            <div class="item"><h2>Tokyo Metro Pass</h2></div>
            <div class=""><img src="img/Tokyo Metro Pass.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'13',Name:'Tokyo Metro Pass'})"/></div>

            <div class="item"><h2>JR Central west</h2></div>
            <div class=""><img src="img/Central west.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'8',Name:'JR Central west'})"/></div>

            <div class="item"><h2>Fuji Q</h2></div>
            <div class=""><img src="img/Fuji Q.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'15',Name:'Fuji Q'})"/></div>

            <div class="item"><h2>JR Hokkaido Rail pass</h2></div>
            <div class=""><img src="img/Hokkaido Rail pass.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'7',Name:'JR Hokkaido Rail pass'})"/></div>

            <div class="item"><h2>IZU Dream Pass</h2></div>
            <div class=""><img src="img/IZU Dream Pass.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'14',Name:'IZU Dream Pass'})"/></div>

            <div class="item"><h2>Kintetsu Rail</h2></div>
            <div class=""><img src="img/Kintetsu Rail.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'18',Name:'Kintetsu Rail'})"/></div>

            <div class="item"><h2>JR West Japan Railway</h2></div>
            <div class=""><img src="img/West Japan Railway.png"style="width:100%;" ui-sref="app.ticketAppCompany({Id:'9',Name:'JR West Japan Railway'})"/></div>


        </div>

    </ion-content>
</ion-view>
