<ion-view >
    <ion-nav-title>
        <div class="center_jap">
            <img class="title-image" src="img/JAP-LOGO-22.png" />
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-toggle-jap"></button>
    </ion-nav-buttons>
    <ion-content >
        <div class="row responsive-sm responsive-md responsive-lg">
            <form name="form_login"  ng-submit="signIn(loginData)">
                <div class="col col-center col-75"></div>
                <div class="col">
                    <h3>Username :</h3>
                    <label class="item item-input">
                        <input type="text" placeholder="Username" name="Username" ng-model="loginData.username">
                    </label>
                </div>
                <div class="col">
                    <h3>Password :</h3>
                    <label class="item item-input">
                        <input type="password" placeholder="******"  name="Password" ng-model="loginData.password">
                    </label>
                </div>
                <div class="col"><a href ui-sref="app.forget_password" style="float: right;" >Forget Password?</a></div>
                <div class="col">
                    <button class="button button-block button-assertive"  type="submit">
                        Login
                    </button>
                </div>
                <div class="col" style="text-align: center;">
                    <a href ui-sref="app.register"  >Don't have an account? Sign Up</a>
                </div>
            </form>
				       
            <div class="col" style="height:100px;">
                
            </div>
        </div>
    </ion-content>
</ion-view>