<ion-view >
     <ion-nav-title>
        <div class="center_jap">
            <img class="title-image" src="img/JAP-LOGO-22.png" />
        </div>
    </ion-nav-title>
    <!--<ion-nav-buttons side="left">-->
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon menu-toggle-jap"></button>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="scroll-content ionic-scroll  has-header">
        <div class="row responsive-sm responsive-md responsive-lg">

            <div class="col col-center center_jap">
                <h1>Select a payment</h1>
            </div>
        </div>
        <form id="itemlist" name="form_itemTicket" ng-submit="itemTicket(checkStatus)">
            <ul class="list">

                <li class="item item-checkbox" >                     
                    <label class="checkbox">
                        <input type="radio" ng-model="checkStatus" ng-value="1"  >
                    </label>
                    เงินสดหรือโอน (Cash & Transfer)
                </li>
                <li class="item item-checkbox" >
                    <label class="checkbox">
                        <input type="radio" ng-model="checkStatus" ng-value="4"  >
                    </label>
                    เครื่องรูดบัตร (EDC)
                </li>
                <li class="item item-checkbox" >                     
                    <label class="checkbox">
                        <input type="radio"  ng-model="checkStatus" ng-value="2" >
                    </label>
                    บัตรเครดิตออนไลน์ (Online Credit Card)
                </li>
                <li class="item item-checkbox" >                     
                    <label class="checkbox">
                        <input type="radio"  ng-model="checkStatus" ng-value="3" >
                    </label>
                    ไลน์เพย์ (Line Pay)
                </li>
            </ul>
            <div class="col" >
                <button class="button button-block button-balanced "  type="submit">
                    Next
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
