<ion-view >
     <ion-nav-title>
        <div class="center_jap">
            <img class="title-image" src="img/JAP-LOGO-22.png" />
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-toggle-jap"></button>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="left">-->
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon menu-toggle-jap"></button>-->
    <!--</ion-nav-buttons>-->
    <ion-content >
        <div class="row responsive-sm responsive-md responsive-lg">
            <!--<form name="form_profile"  ng-submit="proFile()">-->
                <div class="col col-center center_jap">
                    <h1>Profile</h1>
                </div>
                <div class="col">
                    <span class="input-label">First Name :</span>
                    <label class="item item-input input-readonly" >
                        <input type="text" placeholder="First Name" name="namef"  ng-model="tokenData.account_user_fname" readonly >
                    </label>
                </div>
                <div class="col">
                    <span class="input-label">Last Name :</span>
                    <label class="item item-input input-readonly" >
                        <input type="text" placeholder="Last Name" name="namel" ng-model="tokenData.account_user_lname" readonly>
                    </label>
                </div>

                <div class="col">
                    <span class="input-label" >Tel :</span>
                    <label class="item item-input input-readonly">
                        <input type="text" placeholder="Phone number" name="phone" ng-model="tokenData.account_user_phone" readonly>
                    </label>
                </div>
                <div class="col">
                    <span class="input-label">Email :</span>
                    <label class="item item-input input-readonly">
                        <input type="email" placeholder="email@email.com" name="mail" ng-model="tokenData.account_user_email" readonly>
                    </label>
                </div>

            <div class="col">
                <span class="input-label">Change Password :</span>
                <a class="button icon-right ion-chevron-right button-block  button-balanced" ui-sref="app.changepassword">
                    Change Password
                </a>
            </div>

                <div class="col">
                    <span class="input-label">Address :</span>
                    <label class="item item-input input-readonly">
                        <textarea name="address" rows="4" ng-model="tokenData.account_user_address" readonly ></textarea>
                    </label>
                </div>
            <div class="col">
                <span class="input-label ">Province :</span>
                <label class="item item-input input-readonly">
                    <input type="text"  name="province" ng-model="tokenData.account_user_province" readonly >
                </label>

            </div>
            <div class="col">
                <span class="input-label ">Postcode :</span>
                <label class="item item-input input-readonly">
                    <input type="text"  name="postcode" ng-model="tokenData.account_user_postcode" readonly >
                </label>

            </div>
            <div class="row">
                <div class="col-40">
                    <button class="button button-block  button-balanced"  ui-sref="app.editProfile">
                        Edit
                    </button>
                </div>
                <div class="col-40 col-offset-20" >
                    <button ui-sref="app.home" class="button button-block button-assertive"  >Cancel</button>
                </div>
            </div>
            <!--</form>-->
        </div>
    </ion-content>
</ion-view>