<ion-view >
     <ion-nav-title>
        <div class="center_jap">
            <img class="title-image" src="img/JAP-LOGO-22.png" />
        </div>
    </ion-nav-title>

    <ion-content class="has-header">
        <div class="row responsive-sm responsive-md responsive-lg">
            <div class="col col-center center_jap">
                <h1>View Ticket Buy</h1>
            </div>
            
                <div class="col">
                    <table class="normal">
                        <thead style="background: #ccc;">
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody >

                            <tr ng-repeat="value in arrTicketvvv">
                                <td >{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

        </div>
    </ion-content>
</ion-view>